{
  "polygon_api_key": "YOUR_POLYGON_API_KEY_HERE",
  "s3_access_key_id": "YOUR_S3_ACCESS_KEY_ID_HERE",
  "s3_secret_access_key": "YOUR_S3_SECRET_ACCESS_KEY_HERE",
  "s3_endpoint": "https://files.polygon.io",
  "s3_bucket": "flatfiles"
}